.jumbotron{
    background-color: coral;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: greenyellow;
    margin-bottom: 5px;
    margin-top: 10px;
}

.card-pizza{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-anadir{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-principal{
    width: 100%;
    height: 300%;
}