@yellow: #fffa19;
@colorcard: #657512;
@red: #ff0000;
@green: #4cff00;

.mixin margenes(@color, @top, @botton) {
    background-color: $color;
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    color: black;
    .margenes($yellow, 50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    .margenes(@yellow, 10px, 10px);
}

.card-pizza {
    flex: 1 200px;
    .margenes(@colorcard, 10px, 10px);
}

.btn-anadir {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-principal {
    width: 100%;
    height: 300%;
}
