.jumbotron {
  color: black;
  background-color: #4cff00;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #4cff00;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-pizza {
  flex: 1 200px;
  background-color: #ff0001;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-anadir {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-principal {
  width: 100%;
  height: 300%; }
