﻿$yellow: #4cff00;
$colorcard: #ff0001;

@mixin margenes($color, $top, $botton) {
    background-color: $color;
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    color: black;
    @include margenes($yellow, 50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    @include margenes($yellow, 10px, 10px);
}

.card-pizza {
    flex: 1 200px;
    @include margenes($colorcard, 10px, 10px);
}

.btn-anadir {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-principal {
    width: 100%;
    height: 300%;
}
